<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.js"></script>
    <title>VueJs</title>
<style>
    .verde {
        background-color: green;
    }
    .branco {
        background-color: white;
    }
    .vermelha {
        background-color: red;
    }
    .azul {
        background-color: blue;
    }
    .violeta {
        background-color: blueviolet;
    }
    .borda {
        border: 1px solid;
    }
    .div-principal {
        height: 200px;
        width: 200px;
    }
    .div-comum {
        height:50px;
        width: 50px;
        display: inline-block;
    }
</style>
</head>
<body>
    <div id="app">
        <!-- Instancia do Vue e o double mustache -->
        {{mensagem}}<br>
        <hr>
        <!--Explorando um pouco mais a propriedade data-->
        Valor Total: {{valorTotal}} <br>
        Hobbies: {{Hobbies[2]}}<br>
        Perfil: Nome: {{perfil.nome}}  || profissao: {{perfil.profissao}} || instagram: {{perfil.instagram}}<br>
        <hr>
        <!--Primeiros Métodos a instância de Vue-->
        {{somar()}}<br>
        {{subtrair()}}<br>
        {{multiplicar()}}<br>
        {{dividir()}}<br>
        {{numeroAleatorio()}}<br>
        <hr>
        <!--Recuperando atributos do data-->
        {{somarN1eN2()}}<br>
        <hr>
        <!--Diretiva V-bind-->
        <a v-bind:href="site">Site</a> <br>
        <p v-bind:class="cor">Entendendo a diretiva v-bind</p> <br>
        <input type="text" v-bind:value="valor" >
        <input type="checkbox" v-bind:checked="check"> <br>
        <hr>
        <!--Utilizando expressões no data binding-->
        <input :value="2 + 2" :class="teste ? 'violeta' : estilo"> <br>
        <hr>
        <!--Diretiva V-on , manipulando eventos-->
        <input type="text" @keyup="imprimirTexto">
        <button @click="mensagemAlerta">Botão</button><br>
        <hr>
        <!--Hands on : praticando com o data,methods,templates string , v-bind , v-on-->
        <div class="borda div-principal" :class="cor">
            Cor: {{cor}}
            <br>
            Posição X do mouse:{{posicaoX}} <br>
            Posição Y do mouse:{{posicaoY}}
        </div>
        <hr>
        <div @click="mudarCor('verde')" class="borda div-comum"></div>
        <div class="borda div-comum" @mouseover="mudarCor('azul')"  @mouseout="mudarCor('vermelha')"></div>
        <div class="borda div-comum" @mousemove="coordenadas($event)"></div> <br>
        <hr>
        <!--Diretiva V-on Implementando modificadores-->
        <a href="https://www.google.com.br" target="_blank" v-on:click="prevenirComportamentoPadrao()">Link</a><br>
        Mensagem: {{msg}}
        <hr>
        <button @click.once="executarUmaVez()">Botão</button>
        <p>Cliques: {{cliques}}</p>
        <hr>
        <form @submit.prevent.once="prevenirUmaVez()">
            <button type="submit">Enviar</button>
        </form>
        <p>Formulário: {{formulario}}</p>
        <hr>
        <input type="text" @keyup.Shift.Enter="capturandoTeclas($event)">
        <p>Teclas:{{teclas}}</p>
        <hr>
        <!--Selecionando elemento HTML e suas propriedades por ID-->
        <input type="text"  id="inputTexto"> <br>
        <select id="opcoes">
            <option value="A">Opção 1</option>
            <option value="B">Opção 2</option>
            <option value="C">Opção 3</option>
        </select>
        <br>
        <p id="paragrafo" style="color:green" >Parágrafo</p><br>
        <div id="bloco">Conteudo interno da div</div>
        <button @click="selecionandoElementoFilho()" >Botão</button><br>
        <hr>
        <!--V-if Simples-->
        <button @click="exibirSaldo = !exibirSaldo" >
            <span v-if="!exibirSaldo" >Exibir Saldo</span>
            <span v-if="exibirSaldo" >Ocultar Saldo</span>
        </button> <!--toggle-->
        <p>Saldo:<span v-if="exibirSaldo">R$ {{saldo}}</span></p>
        <hr>
        Idade: <input type="text" id="inputIdade" @blur="setIdade()">
        <p v-if="idade < 18">Menor de idade</p>
        <p v-else>Maior de idade</p><br>
        <hr>
        <!-- V-if / V-else-if -->
        Nota: <input type="text" id="inputNota" @blur="setNota()">
        <p v-if="nota == ''" >Digite a nota do aluno</p>
        <p v-else-if="nota >= 7 && nota <=10" >Aluno aprovado</p>
        <p v-else-if="nota >= 5 && nota <7" >Aluno em recuperação</p>
        <p v-else-if="nota >= 0 && nota <5" >Aluno reprovado</p>
        <p v-else >A nota informada é inválida</p><br>
        <hr>
        <!--Diretiva V-show-->
        <p @mouseover="exibirTextoAjuda = true" @mouseout="exibirTextoAjuda = false">Exemplo de tooltip</p>
        <div v-show="exibirTextoAjuda">
            <h3>Texto ajuda</h3>
            <p>Conteudo texto ajuda</p>
        </div><br>
        <hr>
        <!-- Diretiva V-HTML-->
        <div v-html="elementosHTML"></div><br>
        <hr>
        <p v-once>Saldo inicial: {{ saldo}}</p>
        <p>Saldo atualizado:{{saldo}}</p>
        <input type="text" id="valor">
        <button @click="creditar">Creditar</button>
        <button @click="debitar">Debitar</button><br>
        <hr>
        <!--Diretiva V-for: Implementando laços de repetição-->
        <ul>
            <li v-for="curso in cursos" >{{curso}}</li>
        </ul><br>
        <hr>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Título</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(jogo,chave) in jogos">
                    <td>{{chave}}</td>
                    <td>{{jogo.titulo}}</td>
                    <td>{{jogo.descricao}}</td>
                </tr>
            </tbody>
        </table><br>
        <hr>
        <!--Renderização de listas com o atributo key-->
        <ul>
            <li v-for="p in publicacoes" style="border: solid 1px; margin-bottom: 10px" :key="p.id">
                <div>
                    {{p.publicacao}}
                    <hr>
                    <input type="text">
                </div>
            </li>
        </ul>
        <button @click="misturarArray()"> Misturar publicações</button><br>
        <hr>

        <ul>
            <li v-for="c in comentarios" >{{c.id}} - {{c.comentario}}</li>
        </ul>
        <button @click="adicionarElemento()">Adicionar</button>
        <button @click="removerElemento()">Remover</button>
        <button @click="modificarElemento()">Atualizar</button><br>
        <hr>
        <template v-if="saudacao">
            <h1>Boas Vindas</h1>
            <p>Conteúdo da tag <strong>template</strong></p>
        </template>
        <!--Trabalhando com a tag template para renderização condicional-->
        <template v-for="n in 10">
            <p>2 x {{n}} = {{2*n}}</p>
        </template><br>
        <hr>
        <!--Trabalhando com propriedades computadas (computed)-->
        <h4>Adicionar Pacientes</h4>
        <span>Nome:</span> <input type="text" id="inputNome"><br>
        <span>Idade:</span> <input type="text" id="inputIdad"><br>
        <span>Plano:</span> <input type="text" id="inputPlano"><br>
        <button @click="adicionarPaciente()">Adicionar</button>
        <hr>
        
        <h4>Ultimo paciente cadastrado</h4>
        <p v-if="pacientes.length > 0">
           {{ultimoPaciente}}
        </p>
       <hr>
       <h4>Pacientes do plano Ouro</h4>
       <p v-for="p in pacientesPlanoOuro">{{p.nome}}</p>
       <hr>
        <h4>Pacientes Cadastrados</h4>
        <p v-for="p in pacientes">{{p.nome}}</p><br>
        <hr>
        <!--V-model-Sincronizando inputs com atributos(two-way-data binding)-->
        {{atleta}} <br>
        <!--<input type="text" :value="atleta" @keyup="atleta = $event.target.value">-->
        <input type="text" v-model="atleta"><br>
        <hr>
        <input type="radio" value="f" v-model="sexo">Feminino
        <input type="radio" value="m" v-model="sexo">Masculino <br>
        {{sexo}} <br>
        <hr>
        <select v-model="plano">
            <option value="" disabled>Selecione um plano</option>
            <option value="1">Básico 1</option>
            <option value="2">Básico 2</option>
            <option value="3">Master</option>
        </select> <br> {{plano}}
        <hr>
        <input type="checkbox" value="100" v-model="doencas">Asma
        <input type="checkbox" value="101" v-model="doencas">Tuberculose
        <input type="checkbox" value="102" v-model="doencas">Rinite <br>
        {{doencas}}
        <hr>
        <textarea v-model="diagnostico"></textarea> <br>
        {{diagnostico}}
        <hr>

        


    </div>

    <script>

        const vm = new Vue({
            el: '#app',
            data :{
                mensagem: 'Primeiro template controlado pelo Vue',
                valorTotal: 150,
                Hobbies:['futebol','dormir','jogar video game'],
                perfil:{
                    nome:'Junior',
                    profissao:'desenvolvedor',
                    instagram:'@carloosjr21'
                },
                n1:10,
                n2:5,
                site:"https://www.google.com.br",
                cor:'verde',
                valor:'Entendendo a diretiva V-bind',
                check:true,
                estilo:'azul',
                teste: true,
                cor:'branco',
                posicaoX:0,
                posicaoY:0,
                msg:'',
                cliques: 0,
                formulario: '',
                teclas:'',
                saldo:4570.17,
                exibirSaldo:false,
                idade:0,
                nota: 0,
                exibirTextoAjuda: false,
                elementosHTML: '<p><b>Site</b></p><a href="https://www.google.com.br">Google</a>',
                saldo:1100,
                cursos:['Laravel','Web completo','Banco de dados','Solid','Angular'],
                jogos:{
                    001:{
                        titulo:'God of war',
                        descricao:'Melhor jogo de ação de todos'
                    },
                    002: {
                        titulo:'Medal of honror',
                        descricao:'Melhor jogo de guerra de todos os tempos'
                    }
                },
                publicacoes: [
                        {id:1, publicacao:'Publicação 1'},
                        {id:2, publicacao:'Publicações 2'},
                        {id:3, publicacao:'Publicações 3'}
                    ],
                    comentarios: [
                        {id:1, comentario: 'Comentário 1'},
                        {id:2, comentario: 'Comentário 2'},
                        {id:3, comentario: 'Comentário 3'}
                    ],
                    saudacao: true,
                    pacientes: [],
                    atleta:'João Félix',
                    sexo:'',
                    plano:'',
                    doencas:[],
                    diagnostico:''
            },
            methods: {
                somar: function somar(){
                    return 4 + 2;   
                },
                subtrair: function(){
                    return 4 - 2;
                },
                multiplicar: ()=>{
                  return  4 * 2;
                },
                dividir(){
                   return 4 / 2;
                },
                numeroAleatorio(){
                    return Math.random();
                },
                somarN1eN2(){
                    return this.n1 + this.n2;
                },
                imprimirTexto(){
                    console.log('Texto');
                },
                mensagemAlerta(){
                    alert('Mensagem de alerta');
                },
                mudarCor(c){
                    this.cor=c
                },
                coordenadas(e){
                    this.posicaoX=e.clientX
                    this.posicaoY=e.clientY
                },
                prevenirComportamentoPadrao(){
                    this.msg='Comportamento padrão ativado'
                },
                executarUmaVez(){
                    this.cliques++
                },
                prevenirUmaVez(){
                    this.formulario='Prevenindo o comportamento padrão'
                },
                capturandoTeclas(event){
                    this.teclas='Modificadores encadeados com sucesso!'
                },
                selecionandoElementoFilho(){
                    ///console.log(inputTexto.value)
                    //console.log(opcoes.value)
                    //console.log(paragrafo.style.color)
                    console.log(bloco.innerHTML)
                },
                setIdade(){
                    this.idade = inputIdade.value
                },
                setNota(){
                    this.nota = inputNota.value
                },
                creditar(){
                    this.saldo += parseFloat(valor.value) 
                },
                debitar(){
                    this.saldo -= parseFloat(valor.value)
                },
                misturarArray(){
                    let = misturado = []

                    misturado[0]=this.publicacoes[2]
                    misturado[1]=this.publicacoes[0]
                    misturado[2]=this.publicacoes[1]

                    this.publicacoes = misturado
                },
                adicionarElemento(){
                    this.comentarios.push({id: 4, comentario:'Novo comentário'})
                },
                removerElemento(){
                    this.comentarios.pop()
                },
                modificarElemento(){
                    this.$set(
                        this.comentarios,1,{id: 2, comentario:'Comentário 2 atualizado'}
                    )
                },
                adicionarPaciente(){
                    this.pacientes.push({
                        nome: inputNome.value,
                        idade: inputIdad.value,
                        plano: inputPlano.value
                    })
                }
            },
            computed:{
                ultimoPaciente(){
                    let key = this.pacientes.length -1
                    let txt = ''

                    txt += 'Paciente: ' + this.pacientes[key].nome
                    txt += ', Idade: ' + this.pacientes[key].idade
                    txt += ', Plano: ' + this.pacientes[key].plano

                    return txt
                },
                pacientesPlanoOuro(){
                    return this.pacientes.filter(item => item.plano == 'Ouro')
                }
            }
        })

    </script>
</body>
</html>